<!DOCTYPE HTML>
<html>
{{ partial "header.html" . }}
<body>

<div id="wrapper">

  <div id="main" class="alt">
    <section id="one">
      <div class="inner">
        <header class="major">
          <h1>{{ .Title}}</h1>
        </header>
        {{ if .Params.image }}
          <span class="image main"><img src="{{ .Site.Params.baseURL }}/img/{{ .Section }}/{{ .Params.image }}" alt="" /></span>
        {{ end }}
        {{ .Content }}
      </div>
    </section>

  </div>

  {{ partial "footer.html" . }}
</div>

{{ partial "js.html" . }}

</body>
</html>
