<!DOCTYPE HTML>
<html>
{{ partial "header.html" . }}
<body>

<div id="wrapper">

  <!-- Header -->
  <header id="header" class="alt">
    <a href="{{ .Site.BaseURL }}" class="logo">
      <strong>about me</strong>
    </a>
    <nav>
      <a href="#menu"></a>
    </nav>
  </header>
  <!-- Header -->

  <!-- Menu -->
  <nav id="menu">
    <ul class="links">
      <li><a href='{{ "" | absURL}}'>Home</a></li>
      <li><a href='#projects'>Projects</a></li>
      <li><a href='https://note.mu/chocopie116/m/m603ca11b459e'>Blogs</a></li>
    </ul>
  </nav>

  <section id="banner" class="major" style="background-image: url({{ .Site.Params.baseURL }}/img/{{ .Section }}/{{ .Params.image }})">
    <div class="inner">
      <header class="major">
        <h1>{{ .Title }}</h1>
      </header>
      <div class="content">
        <h2>{{ .Params.subtitle }}</h2>
      </div>
    </div>
  </section>

  <div id="main" class="alt">
    <section id="one">
      <div class="inner">
        {{ .Content }}
      </div>
    </section>

  </div>

  <section id="banner" class="major">
    <div class="inner">
      <header class="major">
        <h1>Work as Play</h1>
      </header>
      <div class="content">
        <p>All work and no play makes Jack a dull boy.</p>
        <ul class="actions">
          <li><a href="/" class="button next scrolly">HOME</a></li>
        </ul>
      </div>
    </div>
  </section>

  {{ partial "footer.html" . }}
</div>

{{ partial "js.html" . }}

</body>
</html>
