<footer id="footer">
  <div class="inner">
    <ul class="icons">
      <li><a href="http://b.hatena.ne.jp/chocopie116/bookmark" class="icon alt fa-hatena" target="_blank"><span class="label">はてなブックマーク</span></a></li>
      <li><a href="https://twitter.com/chocopie116" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
      <li><a href="https://www.facebook.com/chocopie116" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
      <li><a href="https://www.instagram.com/chocopie116/" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
      <li><a href="https://github.com/chocopie116" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
      <li><a href="https://www.linkedin.com/in/tsubasa-kajinuma/" class="icon alt fa-linkedin" target="_blank"><span class="label">Linkedin</span></a></li>
      <li><a href="http://chocopie116.hatenablog.com/" class="icon alt fa-book" target="_blank"><span class="label">Note</span></a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Tsubasa KAJINUMA</li>
    </ul>
  </div>
</footer>
i
<style>
/* Font Awesome hatena bookmark */
.fa-hatena:before {
  content: "B!";
  font-family: Verdana;
  font-weight: bold
}
</style>
