<!DOCTYPE HTML>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

	{{ partial "header.html" . }}
	<body>

	<!-- Wrapper -->
		<div id="wrapper">
			{{ partial "nav.html" . }}

			{{ partial "banner.html" . }}
		<!-- Main -->
			<div id="main">

				{{ if .Site.Params.Tiles.enable }}
					{{ partial "tile.html" . }}
				{{ end }}

        <section id="two">
          <div class="inner">
            <header class="major">
              <h2>共犯者募集</h2>
            </header>
            <p>プロジェクトを共にできる仲間を募集しています。下記のフォームよりご連絡ください。</p>
            <ul>
              <li>やりたいことがあるので力を借りたい</li>
              <li>スキルを提供するので自分のポートフォリオをつくりたい</li>
              <li>やりたいことが明確にあるわけではないが一緒にやってみたい</li>
            </ul>
          </div>
        </section>

			</div>

      <!-- Contact -->
      {{ partial "contact.html" . }}

      <!-- Footer -->
      {{ partial "footer.html" . }}

		</div>

  <!-- Scripts -->
  {{ partial "js.html" . }}
	</body>
</html>
