<!DOCTYPE HTML>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

	{{ partial "header.html" . }}
	<body>

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Header -->
    <header id="header" class="alt">
      <a href="{{ .Site.BaseURL }}" class="logo">
        <strong>about me</strong>
      </a>
      <nav>
        <a href="#menu"></a>
      </nav>
    </header>
    <!-- Header -->

    <!-- Menu -->
    <nav id="menu">
      <ul class="links">
        <li><a href='{{ "" | absURL}}'>Home</a></li>
        <li><a href='#projects'>Projects</a></li>
        <li><a href='https://note.mu/chocopie116/m/m603ca11b459e'>Blogs</a></li>
      </ul>
    </nav>

    <!-- Banner -->
    <section id="banner" class="major">
      <div class="inner">
        <header class="major">
          <h1>Work as Play</h1>
        </header>
        <div class="content">
          <p>All work and no play makes Jack a dull boy.</p>
          <ul class="actions">
            <li><a href="#projects" class="button next scrolly">GET KNOWN</a></li>
          </ul>
        </div>
      </div>
    </section>
    <!-- Banner -->

    <!-- Main -->
    <div id="main">
      <div class="inner" id="projects">
        <header class="major">
          <h2>Projects</h2>
        </header>
      </div>

      <section id="one" class="tiles">
        {{ range where .Data.Pages "Type" "projects"}}
        <article>
          <a href="{{ .Permalink }}">
        <span class="image">
        <img src='{{ .Site.Params.baseURL }}img/projects/{{ .Params.Image }}' alt="" />
        </span>
            <header class="major">
              <h3>{{ .Params.Title }}</h3>
              <p>{{ .Params.Subtitle }}</p>
            </header>
          </a>
        </article>
        {{ end }}
      </section>


      <section id="two">
        <div class="inner">
          <header class="major">
            <h2>Contact</h2>
          </header>
          <p>何か思い当たる方は是非ご連絡ください。何かよい出会いになることを楽しみにしています。</p>
          <ul>
            <li>ページ記載のProjectに興味がある</li>
            <li>Webシステム開発でメンバーが足りないので、仕事をお願いしたい</li>
            <li>新規事業を行うので幅広くやれるメンバーに最初の立ち上げを手伝ってほしい</li>
            <li>やりたいことがあるので一緒にやれる仲間が欲しい</li>
            <li>一緒にランチやカフェタイム等で雑談したい</li>
          </ul>
          <a href="https://m.me/chocopie116" target="_blank" style="border-bottom:dotted 0px;"><img src="/img/contactme.png"></a>

        </div>
      </section>
    </div>
    <!-- Main -->

    {{ partial "footer.html" . }}

  </div>

  <script src="{{ "js/jquery.min.js"| absURL }}"></script>
  <script src="{{ "js/jquery.scrolly.min.js"| absURL }}"></script>
  <script src="{{ "js/jquery.scrollex.min.js"| absURL }}"></script>
  <script src="{{ "js/skel.min.js"| absURL }}"></script>
  <script src="{{ "js/util.js"| absURL }}"></script>

  <!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->

  <script src="{{ "js/main.js"| absURL }}"></script>

  {{ template "_internal/google_analytics_async.html" . }}

  </body>
</html>
