<!DOCTYPE HTML>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

	{{ partial "header.html" . }}
	<body>

	<!-- Wrapper -->
		<div id="wrapper">
			{{ partial "nav.html" . }}

			{{ partial "banner.html" . }}
		<!-- Main -->
			<div id="main">

				{{ if .Site.Params.Tiles.enable }}
					{{ partial "tile.html" . }}
				{{ end }}

				{{ if .Site.Params.Two.enable }}
					{{ partial "two.html" . }}
				{{ end }}

			</div>

		<!-- Contact -->
			{{ if .Site.Params.Contact.enable }}
				{{ partial "contact.html" . }}
			{{ end }}

		<!-- Footer -->
			{{ if .Site.Params.Footer.enable }}
				{{ partial "footer.html" . }}
			{{ end }}

		</div>

	<!-- Scripts -->
		{{ partial "js.html" . }}

	</body>
</html>
